# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Output Files
iphone_data.csv
BC.xlsx

# Data Files
seen_imei.json

# OS
.DS_Store
Thumbs.db
